In [1]:
#To retrieve files(csv) from various sources
#we will create a csv files
#call csv file
#read_csv() inbuilt fuction : To call a csv file
import pandas as pd
import numpy as np

In [2]:
s=pd.read_csv("student111.csv")
print(s)

   Name:Age:City:Marks
0    Tina:23:Bhopal:56
1   Kamal:26:Indore:78
2  Latita:21:Bhopal:60
3   Rohan:22:Mumbai:89

In [3]:
s=pd.read_csv("student111.csv",sep=":")  #bydeafult separator means sep =,
print(s)

     Name  Age    City  Marks
0    Tina   23  Bhopal     56
1   Kamal   26  Indore     78
2  Latita   21  Bhopal     60
3   Rohan   22  Mumbai     89

In [4]:
#work on real dataset
import os
os.getcwd()

'C:\\Users\\VIVEK'

In [5]:
#to load csv file
df=pd.read_csv("automobile_data.csv")  #df user defined data frame
print(df)

     symboling normalized-losses         make fuel-type   body-style  \
0            3                 ?  alfa-romero       gas  convertible
1            3                 ?  alfa-romero       gas  convertible
2            1                 ?  alfa-romero       gas    hatchback
3            2               164         audi       gas        sedan
4            2               164         audi       gas        sedan
..         ...               ...          ...       ...          ...
200         -1                95        volvo       gas        sedan
201         -1                95        volvo       gas        sedan
202         -1                95        volvo       gas        sedan
203         -1                95        volvo    diesel        sedan
204         -1                95        volvo       gas        sedan

    drive-wheels engine-location  width  height engine-type  engine-size  \
0            rwd           front   64.1    48.8        dohc          130
1            rwd           front   64.1    48.8        dohc          130
2            rwd           front   65.5    52.4        ohcv          152
3            fwd           front   66.2    54.3         ohc          109
4            4wd           front   66.4    54.3         ohc          136
..           ...             ...    ...     ...         ...          ...
200          rwd           front   68.9    55.5         ohc          141
201          rwd           front   68.8    55.5         ohc          141
202          rwd           front   68.9    55.5        ohcv          173
203          rwd           front   68.9    55.5         ohc          145
204          rwd           front   68.9    55.5         ohc          141

    horsepower  city-mpg  highway-mpg  price
0          111        21           27  13495
1          111        21           27  16500
2          154        19           26  16500
3          102        24           30  13950
4          115        18           22  17450
..         ...       ...          ...    ...
200        114        23           28  16845
201        160        19           25  19045
202        134        18           23  21485
203        106        26           27  22470
204        114        19           25  22625

[205 rows x 15 columns]

In [6]:
df.head()  #to display first 5 record

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [7]:
#To display Last 5 record
df.tail()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
200,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,-1,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

In [8]:
df.shape   #to display no of rows and no of columns

(205, 15)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    object
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.1+ KB

In [10]:
pd.set_option('display.max_rows',None)  #to display all record

In [11]:
df["make"]

0        alfa-romero
1        alfa-romero
2        alfa-romero
3               audi
4               audi
5               audi
6               audi
7               audi
8               audi
9               audi
10               bmw
11               bmw
12               bmw
13               bmw
14               bmw
15               bmw
16               bmw
17               bmw
18         chevrolet
19         chevrolet
20         chevrolet
21             dodge
22             dodge
23             dodge
24             dodge
25             dodge
26             dodge
27             dodge
28             dodge
29             dodge
30             honda
31             honda
32             honda
33             honda
34             honda
35             honda
36             honda
37             honda
38             honda
39             honda
40             honda
41             honda
42             honda
43             isuzu
44             isuzu
45             isuzu
46             isuzu
47            jaguar
48            jaguar
49            jaguar
50             mazda
51             mazda
52             mazda
53             mazda
54             mazda
55             mazda
56             mazda
57             mazda
58             mazda
59             mazda
60             mazda
61             mazda
62             mazda
63             mazda
64             mazda
65             mazda
66             mazda
67     mercedes-benz
68     mercedes-benz
69     mercedes-benz
70     mercedes-benz
71     mercedes-benz
72     mercedes-benz
73     mercedes-benz
74     mercedes-benz
75           mercury
76        mitsubishi
77        mitsubishi
78        mitsubishi
79        mitsubishi
80        mitsubishi
81        mitsubishi
82        mitsubishi
83        mitsubishi
84        mitsubishi
85        mitsubishi
86        mitsubishi
87        mitsubishi
88        mitsubishi
89            nissan
90            nissan
91            nissan
92            nissan
93            nissan
94            nissan
95            nissan
96            nissan
97            nissan
98            nissan
99            nissan
100           nissan
101           nissan
102           nissan
103           nissan
104           nissan
105           nissan
106           nissan
107           peugot
108           peugot
109           peugot
110           peugot
111           peugot
112           peugot
113           peugot
114           peugot
115           peugot
116           peugot
117           peugot
118         plymouth
119         plymouth
120         plymouth
121         plymouth
122         plymouth
123         plymouth
124         plymouth
125          porsche
126          porsche
127          porsche
128          porsche
129          porsche
130          renault
131          renault
132             saab
133             saab
134             saab
135             saab
136             saab
137             saab
138           subaru
139           subaru
140           subaru
141           subaru
142           subaru
143           subaru
144           subaru
145           subaru
146           subaru
147           subaru
148           subaru
149           subaru
150           toyota
151           toyota
152           toyota
153           toyota
154           toyota
155           toyota
156           toyota
157           toyota
158           toyota
159           toyota
160           toyota
161           toyota
162           toyota
163           toyota
164           toyota
165           toyota
166           toyota
167           toyota
168           toyota
169           toyota
170           toyota
171           toyota
172           toyota
173           toyota
174           toyota
175           toyota
176           toyota
177           toyota
178           toyota
179           toyota
180           toyota
181           toyota
182       volkswagen
183       volkswagen
184       volkswagen
185       volkswagen
186       volkswagen
187       volkswagen
188       volkswagen
189       volkswagen
190       volkswagen
191       volkswagen
192       volkswagen
193       volkswagen
194            volvo
195            volvo
196            volvo
197            volvo
198            volvo
199            volvo
200            volvo
201            volvo
202            volvo
203            volvo
204            volvo
Name: make, dtype: object

In [12]:
df["make"].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [13]:
#How many cars all company in dataset (create a group according to manufacturing company)
df["make"].value_counts()

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
chevrolet         3
alfa-romero       3
jaguar            3
renault           2
mercury           1
Name: make, dtype: int64

In [14]:
print("No of mazda cars in dataset :",df["make"].value_counts()["mazda"])

No of mazda cars in dataset : 17

In [15]:
df["fuel-type"].value_counts()

gas       185
diesel     20
Name: fuel-type, dtype: int64

In [16]:
#To find the highest price of car then use max() inbuilt function()
df["price"].max()

45400

In [17]:
#To know the record no of highest price(car) then use inbuilt fuction idxmax()
df["price"].idxmax()

74

In [18]:
#to display all detail of record no means row no. 74
df.iloc[74]

symboling                        1
normalized-losses                ?
make                 mercedes-benz
fuel-type                      gas
body-style                 hardtop
drive-wheels                   rwd
engine-location              front
width                           72
height                        55.4
engine-type                   ohcv
engine-size                    304
horsepower                     184
city-mpg                        14
highway-mpg                     16
price                        45400
Name: 74, dtype: object

In [19]:
#groupby use and find out sum of price
df.groupby("make")["price"].sum()

make
alfa-romero       46495
audi             119155
bmw              208950
chevrolet         18021
dodge             70879
honda            106401
isuzu             50833
jaguar           103800
mazda            181099
mercedes-benz    269176
mercury           16503
mitsubishi       120117
nissan           187482
peugot           170380
plymouth          55744
porsche          137602
renault           19190
saab              91340
subaru           102495
toyota           316346
volkswagen       120930
volvo            198695
Name: price, dtype: int64

In [20]:
#find average price means of each car 
#(according to make)
df.groupby("make")["price"].mean()

make
alfa-romero      15498.333333
audi             17022.142857
bmw              26118.750000
chevrolet         6007.000000
dodge             7875.444444
honda             8184.692308
isuzu            12708.250000
jaguar           34600.000000
mazda            10652.882353
mercedes-benz    33647.000000
mercury          16503.000000
mitsubishi        9239.769231
nissan           10415.666667
peugot           15489.090909
plymouth          7963.428571
porsche          27520.400000
renault           9595.000000
saab             15223.333333
subaru            8541.250000
toyota            9885.812500
volkswagen       10077.500000
volvo            18063.181818
Name: price, dtype: float64

In [21]:
df["fuel-type"].value_counts()

gas       185
diesel     20
Name: fuel-type, dtype: int64

In [22]:
df.groupby(["make","fuel-type"])["price"].sum()

make           fuel-type
alfa-romero    gas           46495
audi           gas          119155
bmw            gas          208950
chevrolet      gas           18021
dodge          gas           70879
honda          gas          106401
isuzu          gas           50833
jaguar         gas          103800
mazda          diesel        29139
               gas          151960
mercedes-benz  diesel       113576
               gas          155600
mercury        gas           16503
mitsubishi     gas          120117
nissan         diesel         7099
               gas          180383
peugot         diesel        78985
               gas           91395
plymouth       gas           55744
porsche        gas          137602
renault        gas           19190
saab           gas           91340
subaru         gas          102495
toyota         diesel        26384
               gas          289962
volkswagen     diesel        39110
               gas           81820
volvo          diesel        22470
               gas          176225
Name: price, dtype: int64

In [23]:
#find average price means of each car 
#(according to make)
df.groupby(["make","fuel-type"])["price"].mean()

make           fuel-type
alfa-romero    gas          15498.333333
audi           gas          17022.142857
bmw            gas          26118.750000
chevrolet      gas           6007.000000
dodge          gas           7875.444444
honda          gas           8184.692308
isuzu          gas          12708.250000
jaguar         gas          34600.000000
mazda          diesel       14569.500000
               gas          10130.666667
mercedes-benz  diesel       28394.000000
               gas          38900.000000
mercury        gas          16503.000000
mitsubishi     gas           9239.769231
nissan         diesel        7099.000000
               gas          10610.764706
peugot         diesel       15797.000000
               gas          15232.500000
plymouth       gas           7963.428571
porsche        gas          27520.400000
renault        gas           9595.000000
saab           gas          15223.333333
subaru         gas           8541.250000
toyota         diesel        8794.666667
               gas           9998.689655
volkswagen     diesel        9777.500000
               gas          10227.500000
volvo          diesel       22470.000000
               gas          17622.500000
Name: price, dtype: float64

In [24]:
#conditional filtering :
# to access particular record according to condition from given dataset
# to display those records whose fuel-type="diesel" of any manufacturing
#df.iloc[rowindex]
df[df["fuel-type"]=="diesel"]  #df[condition]

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
63,0,?,mazda,diesel,sedan,fwd,front,66.5,55.5,ohc,122,64,36,42,10795
66,0,?,mazda,diesel,sedan,rwd,front,66.1,54.4,ohc,134,72,31,39,18344
67,-1,93,mercedes-benz,diesel,sedan,rwd,front,70.3,56.5,ohc,183,123,22,25,25552
68,-1,93,mercedes-benz,diesel,wagon,rwd,front,70.3,58.7,ohc,183,123,22,25,28248
69,0,93,mercedes-benz,diesel,hardtop,rwd,front,70.3,54.9,ohc,183,123,22,25,28176
70,-1,93,mercedes-benz,diesel,sedan,rwd,front,71.7,56.3,ohc,183,123,22,25,31600
90,1,128,nissan,diesel,sedan,fwd,front,63.8,54.5,ohc,103,55,45,50,7099
108,0,161,peugot,diesel,sedan,rwd,front,68.4,56.7,l,152,95,28,33,13200
110,0,?,peugot,diesel,wagon,rwd,front,68.4,58.7,l,152,95,25,25,13860
112,0,161,peugot,diesel,sedan,rwd,front,68.4,56.7,l,152,95,28,33,16900
114,0,?,peugot,diesel,wagon,rwd,front,68.4,58.7,l,152,95,25,25,17075
116,0,161,peugot,diesel,sedan,rwd,front,68.4,56.7,l,152,95,28,33,17950
158,0,91,toyota,diesel,sedan,fwd,front,64.4,53.0,ohc,110,56,34,36,7898
159,0,91,toyota,diesel,hatchback,fwd,front,64.4,52.8,ohc,110,56,38,47,7788
174,-1,65,toyota,diesel,sedan,fwd,front,66.5,54.9,ohc,110,73,30,33,10698
182,2,122,volkswagen,diesel,sedan,fwd,front,65.5,55.7,ohc,97,52,37,46,7775
184,2,94,volkswagen,diesel,sedan,fwd,front,65.5,55.7,ohc,97,52,37,46,7995
187,2,94,volkswagen,diesel,sedan,fwd,front,65.5,55.7,ohc,97,68,37,42,9495
192,0,?,volkswagen,diesel,sedan,fwd,front,66.9,55.1,ohc,97,68,33,38,13845
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470

In [25]:
#multiple condition means more than one condition if use multiple condition then use 
#Logical operator
#there are 2 types of Logical operator
# 1. and : & (ampercend)
# 2. or : | (pipeline)
# & : if all condition are true
# | : if anyone condition are true

In [26]:
# To display those records whose make=mazda and fuel type=diesel
df[(df["make"]=="mazda")&(df["fuel-type"]=="diesel")]  #df[(condition1) & (condition2)]

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
63,0,?,mazda,diesel,sedan,fwd,front,66.5,55.5,ohc,122,64,36,42,10795
66,0,?,mazda,diesel,sedan,rwd,front,66.1,54.4,ohc,134,72,31,39,18344

In [31]:
#conditional filtering
#To display those records whose price of car > 30000
df[df["price"]>30000]

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
15,0,?,bmw,gas,sedan,rwd,front,66.9,55.7,ohc,209,182,16,22,30760
16,0,?,bmw,gas,sedan,rwd,front,67.9,53.7,ohc,209,182,16,22,41315
17,0,?,bmw,gas,sedan,rwd,front,70.9,56.3,ohc,209,182,15,20,36880
47,0,145,jaguar,gas,sedan,rwd,front,69.6,52.8,dohc,258,176,15,19,32250
48,0,?,jaguar,gas,sedan,rwd,front,69.6,52.8,dohc,258,176,15,19,35550
49,0,?,jaguar,gas,sedan,rwd,front,70.6,47.8,ohcv,326,262,13,17,36000
70,-1,93,mercedes-benz,diesel,sedan,rwd,front,71.7,56.3,ohc,183,123,22,25,31600
71,-1,?,mercedes-benz,gas,sedan,rwd,front,71.7,56.5,ohcv,234,155,16,18,34184
72,3,142,mercedes-benz,gas,convertible,rwd,front,70.5,50.8,ohcv,234,155,16,18,35056
73,0,?,mercedes-benz,gas,sedan,rwd,front,71.7,56.7,ohcv,308,184,14,16,40960
74,1,?,mercedes-benz,gas,hardtop,rwd,front,72.0,55.4,ohcv,304,184,14,16,45400
126,3,?,porsche,gas,hardtop,rwd,rear,65.0,51.6,ohcf,194,207,17,25,32528
127,3,?,porsche,gas,hardtop,rwd,rear,65.0,51.6,ohcf,194,207,17,25,34028
128,3,?,porsche,gas,convertible,rwd,rear,65.0,51.6,ohcf,194,207,17,25,37028

In [33]:
#to display those records whose price of car>30000 and fuel-type=diesel
df[(df["price"]>30000) & (df["fuel-type"]=="diesel")]  # & : and

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
70,-1,93,mercedes-benz,diesel,sedan,rwd,front,71.7,56.3,ohc,183,123,22,25,31600

In [34]:
df["body-style"].unique()

array(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
      dtype=object)

In [35]:
#To display all details of bodystyle hatchback and wagon
df[(df["body-style"]=="hatchback") | (df["body-style"]=="wagon")]   # | pipeline : use for or

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
7,1,?,audi,gas,wagon,fwd,front,71.4,55.7,ohc,136,110,19,25,18920
9,0,?,audi,gas,hatchback,4wd,front,67.9,52.0,ohc,131,160,16,22,12000
18,2,121,chevrolet,gas,hatchback,fwd,front,60.3,53.2,l,61,48,47,53,5151
19,1,98,chevrolet,gas,hatchback,fwd,front,63.6,52.0,ohc,90,70,38,43,6295
21,1,118,dodge,gas,hatchback,fwd,front,63.8,50.8,ohc,90,68,37,41,5572
22,1,118,dodge,gas,hatchback,fwd,front,63.8,50.8,ohc,90,68,31,38,6377
23,1,118,dodge,gas,hatchback,fwd,front,63.8,50.8,ohc,98,102,24,30,7957
24,1,148,dodge,gas,hatchback,fwd,front,63.8,50.6,ohc,90,68,31,38,6229
28,-1,110,dodge,gas,wagon,fwd,front,64.6,59.8,ohc,122,88,24,30,8921
29,3,145,dodge,gas,hatchback,fwd,front,66.3,50.2,ohc,156,145,19,24,12964
30,2,137,honda,gas,hatchback,fwd,front,63.9,50.8,ohc,92,58,49,54,6479
31,2,137,honda,gas,hatchback,fwd,front,63.9,50.8,ohc,92,76,31,38,6855
32,1,101,honda,gas,hatchback,fwd,front,64.0,52.6,ohc,79,60,38,42,5399
33,1,101,honda,gas,hatchback,fwd,front,64.0,52.6,ohc,92,76,30,34,6529
34,1,101,honda,gas,hatchback,fwd,front,64.0,52.6,ohc,92,76,30,34,7129
36,0,78,honda,gas,wagon,fwd,front,63.9,58.3,ohc,92,76,30,34,7295
37,0,106,honda,gas,hatchback,fwd,front,65.2,53.3,ohc,110,86,27,33,7895
38,0,106,honda,gas,hatchback,fwd,front,65.2,53.3,ohc,110,86,27,33,9095
46,2,?,isuzu,gas,hatchback,rwd,front,65.2,51.4,ohc,119,90,24,29,11048
50,1,104,mazda,gas,hatchback,fwd,front,64.2,54.1,ohc,91,68,30,31,5195
51,1,104,mazda,gas,hatchback,fwd,front,64.2,54.1,ohc,91,68,31,38,6095
52,1,104,mazda,gas,hatchback,fwd,front,64.2,54.1,ohc,91,68,31,38,6795
55,3,150,mazda,gas,hatchback,rwd,front,65.7,49.6,rotor,70,101,17,23,10945
56,3,150,mazda,gas,hatchback,rwd,front,65.7,49.6,rotor,70,101,17,23,11845
57,3,150,mazda,gas,hatchback,rwd,front,65.7,49.6,rotor,70,101,17,23,13645
58,3,150,mazda,gas,hatchback,rwd,front,65.7,49.6,rotor,80,135,16,23,15645
59,1,129,mazda,gas,hatchback,fwd,front,66.5,53.7,ohc,122,84,26,32,8845
61,1,129,mazda,gas,hatchback,fwd,front,66.5,53.7,ohc,122,84,26,32,10595
64,0,115,mazda,gas,hatchback,fwd,front,66.5,55.5,ohc,122,84,26,32,11245
68,-1,93,mercedes-benz,diesel,wagon,rwd,front,70.3,58.7,ohc,183,123,22,25,28248
75,1,?,mercury,gas,hatchback,rwd,front,68.0,54.8,ohc,140,175,19,24,16503
76,2,161,mitsubishi,gas,hatchback,fwd,front,64.4,50.8,ohc,92,68,37,41,5389
77,2,161,mitsubishi,gas,hatchback,fwd,front,64.4,50.8,ohc,92,68,31,38,6189
78,2,161,mitsubishi,gas,hatchback,fwd,front,64.4,50.8,ohc,92,68,31,38,6669
79,1,161,mitsubishi,gas,hatchback,fwd,front,63.8,50.8,ohc,98,102,24,30,7689
80,3,153,mitsubishi,gas,hatchback,fwd,front,65.4,49.4,ohc,110,116,23,30,9959
81,3,153,mitsubishi,gas,hatchback,fwd,front,65.4,49.4,ohc,122,88,25,32,8499
82,3,?,mitsubishi,gas,hatchback,fwd,front,66.3,50.2,ohc,156,145,19,24,12629
83,3,?,mitsubishi,gas,hatchback,fwd,front,66.3,50.2,ohc,156,145,19,24,14869
84,3,?,mitsubishi,gas,hatchback,fwd,front,66.3,50.2,ohc,156,145,19,24,14489
93,1,103,nissan,gas,wagon,fwd,front,63.8,53.5,ohc,97,69,31,37,7349
95,1,128,nissan,gas,hatchback,fwd,front,63.8,53.3,ohc,97,69,31,37,7799
97,1,103,nissan,gas,wagon,fwd,front,63.8,53.5,ohc,97,69,31,37,7999
99,0,106,nissan,gas,hatchback,fwd,front,65.2,54.7,ohc,120,97,27,34,8949
102,0,108,nissan,gas,wagon,fwd,front,66.5,56.1,ohcv,181,152,17,22,14399
104,3,194,nissan,gas,hatchback,rwd,front,67.9,49.7,ohcv,181,160,19,25,17199
105,3,194,nissan,gas,hatchback,rwd,front,67.9,49.7,ohcv,181,200,17,23,19699
106,1,231,nissan,gas,hatchback,rwd,front,67.9,49.7,ohcv,181,160,19,25,18399
109,0,?,peugot,gas,wagon,rwd,front,68.4,58.7,l,120,97,19,24,12440
110,0,?,peugot,diesel,wagon,rwd,front,68.4,58.7,l,152,95,25,25,13860
113,0,?,peugot,gas,wagon,rwd,front,68.4,56.7,l,120,95,19,24,16695
114,0,?,peugot,diesel,wagon,rwd,front,68.4,58.7,l,152,95,25,25,17075
118,1,119,plymouth,gas,hatchback,fwd,front,63.8,50.8,ohc,90,68,37,41,5572
119,1,119,plymouth,gas,hatchback,fwd,front,63.8,50.8,ohc,98,102,24,30,7957
120,1,154,plymouth,gas,hatchback,fwd,front,63.8,50.6,ohc,90,68,31,38,6229
123,-1,74,plymouth,gas,wagon,fwd,front,64.6,59.8,ohc,122,88,24,30,8921
124,3,?,plymouth,gas,hatchback,rwd,front,66.3,50.2,ohc,156,145,19,24,12764
125,3,186,porsche,gas,hatchback,rwd,front,68.3,50.2,ohc,151,143,19,27,22018
129,1,?,porsche,gas,hatchback,rwd,front,72.3,50.5,dohcv,203,288,17,28,12000
130,0,?,renault,gas,wagon,fwd,front,66.5,55.2,ohc,132,?,23,31,9295
131,2,?,renault,gas,hatchback,fwd,front,66.6,50.5,ohc,132,?,23,31,9895
132,3,150,saab,gas,hatchback,fwd,front,66.5,56.1,ohc,121,110,21,28,11850
134,3,150,saab,gas,hatchback,fwd,front,66.5,56.1,ohc,121,110,21,28,15040
136,3,150,saab,gas,hatchback,fwd,front,66.5,56.1,dohc,121,160,19,26,18150
138,2,83,subaru,gas,hatchback,fwd,front,63.4,53.7,ohcf,97,69,31,36,5118
139,2,83,subaru,gas,hatchback,fwd,front,63.6,53.7,ohcf,108,73,26,31,7053
140,2,83,subaru,gas,hatchback,4wd,front,63.8,55.7,ohcf,108,73,26,31,7603
146,0,89,subaru,gas,wagon,fwd,front,65.4,53.0,ohcf,108,82,28,32,7463
147,0,89,subaru,gas,wagon,fwd,front,65.4,53.0,ohcf,108,94,25,31,10198
148,0,85,subaru,gas,wagon,4wd,front,65.4,54.9,ohcf,108,82,23,29,8013
149,0,85,subaru,gas,wagon,4wd,front,65.4,54.9,ohcf,108,111,23,23,11694
150,1,87,toyota,gas,hatchback,fwd,front,63.6,54.5,ohc,92,62,35,39,5348
151,1,87,toyota,gas,hatchback,fwd,front,63.6,54.5,ohc,92,62,31,38,6338
152,1,74,toyota,gas,hatchback,fwd,front,63.6,54.5,ohc,92,62,31,38,6488
153,0,77,toyota,gas,wagon,fwd,front,63.6,59.1,ohc,92,62,31,37,6918
154,0,81,toyota,gas,wagon,4wd,front,63.6,59.1,ohc,92,62,27,32,7898
155,0,91,toyota,gas,wagon,4wd,front,63.6,59.1,ohc,92,62,27,32,8778
157,0,91,toyota,gas,hatchback,fwd,front,64.4,52.8,ohc,98,70,30,37,7198
159,0,91,toyota,diesel,hatchback,fwd,front,64.4,52.8,ohc,110,56,38,47,7788
161,0,91,toyota,gas,hatchback,fwd,front,64.4,52.8,ohc,98,70,28,34,8358
164,1,168,toyota,gas,hatchback,rwd,front,64.0,52.6,ohc,98,70,29,34,8238
166,1,168,toyota,gas,hatchback,rwd,front,64.0,52.6,dohc,98,112,26,29,9538
169,2,134,toyota,gas,hatchback,rwd,front,65.6,52.0,ohc,146,116,24,30,9989
171,2,134,toyota,gas,hatchback,rwd,front,65.6,52.0,ohc,146,116,24,30,11549
175,-1,65,toyota,gas,hatchback,fwd,front,66.5,53.9,ohc,122,92,27,32,9988
177,-1,65,toyota,gas,hatchback,fwd,front,66.5,53.9,ohc,122,92,27,32,11248
178,3,197,toyota,gas,hatchback,rwd,front,67.7,52.0,dohc,171,161,20,24,16558
179,3,197,toyota,gas,hatchback,rwd,front,67.7,52.0,dohc,171,161,19,24,15998
181,-1,?,toyota,gas,wagon,rwd,front,66.5,54.1,dohc,161,156,19,24,15750
190,3,256,volkswagen,gas,hatchback,fwd,front,64.0,51.4,ohc,109,90,24,29,9980
193,0,?,volkswagen,gas,wagon,fwd,front,66.9,55.1,ohc,109,88,25,31,12290
195,-1,74,volvo,gas,wagon,rwd,front,67.2,57.5,ohc,141,114,23,28,13415
197,-1,74,volvo,gas,wagon,rwd,front,67.2,57.5,ohc,141,114,24,28,16515
199,-1,74,volvo,gas,wagon,rwd,front,67.2,57.5,ohc,130,162,17,22,18950

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    object
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.1+ KB

In [37]:
#concat() : to join 2 or more dataframe
#concat in series() means one dimensional array

In [44]:
# To sepeate numerical type(int,float) and object type data means categorical data means 
# string type from dataset df
df_num=df.select_dtypes(["int64","float64"])
df_cat=df.select_dtypes("object")

In [45]:
df_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   symboling    205 non-null    int64
 1   width        205 non-null    float64
 2   height       205 non-null    float64
 3   engine-size  205 non-null    int64
 4   city-mpg     205 non-null    int64
 5   highway-mpg  205 non-null    int64
 6   price        205 non-null    int64
dtypes: float64(2), int64(5)
memory usage: 11.3 KB

In [46]:
df_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   normalized-losses  205 non-null    object
 1   make               205 non-null    object
 2   fuel-type          205 non-null    object
 3   body-style         205 non-null    object
 4   drive-wheels       205 non-null    object
 5   engine-location    205 non-null    object
 6   engine-type        205 non-null    object
 7   horsepower         205 non-null    object
dtypes: object(8)
memory usage: 12.9+ KB

In [48]:
#LabelEncoder class (inbuilt class of python) is defined in inbuilt package sklearn.preprocessing
from sklearn.preprocessing import LabelEncoder

In [49]:
#create object of LabelEncoder class 
#fit_transform() inbuilt function of LabelEncoder class(passing arugments/parameters)
import warnings
warnings.filterwarnings('ignore')
for col in df_cat:
    le=LabelEncoder()
    df_cat[col]=le.fit_transform(df_cat[col])

In [50]:
df_cat.head()

,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,engine-type,horsepower
0,51,0,1,0,2,0,0,5
1,51,0,1,0,2,0,0,5
2,51,0,1,2,2,0,5,20
3,27,1,1,3,1,0,3,2
4,27,1,1,3,0,0,3,8

In [51]:
df_cat.tail()

,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,engine-type,horsepower
200,49,21,1,3,2,0,3,7
201,49,21,1,3,2,0,3,23
202,49,21,1,3,2,0,5,13
203,49,21,0,3,2,0,3,3
204,49,21,1,3,2,0,3,7

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    object
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.1+ KB

In [55]:
#to join means concatenate 2 dataframe df_num and df_cat and hold in new dataset df_new
df_new=pd.concat([df_num,df_cat],axis=1)  #axis=1 means column wise join 2 dataframe

In [56]:
df_new.head()

,symboling,width,height,engine-size,city-mpg,highway-mpg,price,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,engine-type,horsepower
0,3,64.1,48.8,130,21,27,13495,51,0,1,0,2,0,0,5
1,3,64.1,48.8,130,21,27,16500,51,0,1,0,2,0,0,5
2,1,65.5,52.4,152,19,26,16500,51,0,1,2,2,0,5,20
3,2,66.2,54.3,109,24,30,13950,27,1,1,3,1,0,3,2
4,2,66.4,54.3,136,18,22,17450,27,1,1,3,0,0,3,8

In [57]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   width              205 non-null    float64
 2   height             205 non-null    float64
 3   engine-size        205 non-null    int64
 4   city-mpg           205 non-null    int64
 5   highway-mpg        205 non-null    int64
 6   price              205 non-null    int64
 7   normalized-losses  205 non-null    int32
 8   make               205 non-null    int32
 9   fuel-type          205 non-null    int32
 10  body-style         205 non-null    int32
 11  drive-wheels       205 non-null    int32
 12  engine-location    205 non-null    int32
 13  engine-type        205 non-null    int32
 14  horsepower         205 non-null    int32
dtypes: float64(2), int32(8), int64(5)
memory usage: 17.7 KB

In [58]:
#Merge dataframe :

In [59]:
#first create dictionary
d1={"rno":[110,120,130,140,150],"name":["anu","renu","seema","deepa","jyoti"],"age":[23,21,24,21,25]}

In [60]:
#Second dictionary create
d2={"rno":[110,130,140],"python":[67,89,70],"R":[60,70,80],"ML":[56,78,60]}

In [61]:
#to convert dictionary to DataFrame of pandas
#First convert d1 dictionary to dataframe
student=pd.DataFrame(d1)
student

   rno   name  age
0  110    anu   23
1  120   renu   21
2  130  seema   24
3  140  deepa   21
4  150  jyoti   25

In [62]:
#convert d2 dictionary to dataframe
marks=pd.DataFrame(d2)
marks

   rno  python   R  ML
0  110      67  60  56
1  130      89  70  78
2  140      70  80  60

In [65]:
merge_df=pd.merge(student,marks,on="rno")  
merge_df

   rno   name  age  python   R  ML
0  110    anu   23      67  60  56
1  130  seema   24      89  70  78
2  140  deepa   21      70  80  60

In [66]:
merge_df=pd.merge(student,marks,on="rno",how="outer")  #Nan means null value
merge_df

   rno   name  age  python     R    ML
0  110    anu   23    67.0  60.0  56.0
1  120   renu   21     NaN   NaN   NaN
2  130  seema   24    89.0  70.0  78.0
3  140  deepa   21    70.0  80.0  60.0
4  150  jyoti   25     NaN   NaN   NaN

In [67]:
#append : to add new record
#first create dictionary
d1={"rno":[110,120,130,140,150],"name":["anu","renu","seema","deepa","jyoti"],"age":[23,21,24,21,25]}
print(d1)

{'rno': [110, 120, 130, 140, 150], 'name': ['anu', 'renu', 'seema', 'deepa', 'jyoti'], 'age': [23, 21, 24, 21, 25]}

In [68]:
#to convert dictionary to DataFrame of pandas
student=pd.DataFrame(d1)
print(student)

   rno   name  age
0  110    anu   23
1  120   renu   21
2  130  seema   24
3  140  deepa   21
4  150  jyoti   25

In [69]:
#create new student
#create a new dictionary
d2={"rno":[160,170],"name":["pappu","rohan"],"age":[28,29]}

In [70]:
#convert d2 dictionary to dataframe
new_student=pd.DataFrame(d2)

In [71]:
print(new_student)

   rno   name  age
0  160  pappu   28
1  170  rohan   29

In [72]:
#to add new record means new student in existing dataframe student
student.append(new_student)

   rno   name  age
0  110    anu   23
1  120   renu   21
2  130  seema   24
3  140  deepa   21
4  150  jyoti   25
0  160  pappu   28
1  170  rohan   29

In [73]:
student.append(new_student,ignore_index=True)

   rno   name  age
0  110    anu   23
1  120   renu   21
2  130  seema   24
3  140  deepa   21
4  150  jyoti   25
5  160  pappu   28
6  170  rohan   29